* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body{
   background-image: url("img_fondo/fondo_3.jpeg");
   background-position: center center;
   background-size: cover;
   font-family:sans-serif;
}

.container {
   display: grid;
   grid-template-areas:
     "header"
     "personajes"
     "footer";
   grid-template-rows: auto 1fr auto;
   min-height: 100%;
   width: 100%;
 }

 /*********HEADER***********/

 .header {
  grid-area: header;
  /*background: rgb(129, 213, 97);*/
 }

 nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  padding: 35px 5%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 8px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in;/* Hace un efecto en el hover*/
}

nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: 500px;
  text-decoration: none;
}

nav ul :hover {
  color: greenyellow;
}



h4 {
  color: aliceblue;
}



/******** CARD CONTAINER **********/
.characters{
  grid-area:personajes ;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  display: grid;
  width: 300px;
  grid-template-areas:
  "imagen"
  "contenido"
  "boton"
  "boton2";
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  text-overflow: ellipsis;
}

.card_imagen {
  grid-area: imagen;
}

.card_imagen img{
  max-width:100%;
  height: auto;
  border-radius: 5px 0px;
  max-height: 200px;
}

.card_contenido {
  grid-area: contenido;
  color: yellowgreen;
  font-family: 'Fira Code', monospace;
  height: 75px;
  
}


.card_contenido h3 {
color:black;
font-weight: 600;
}

.card_contenido h4 {
  color: yellowgreen;
  font-weight: 600;
  }

 .verPersonajes {
  display: flex;
  justify-content: center;
  padding: 10px;
 }

 .verPersonajes {
  display: flex;
  justify-content: center;
  padding: 10px;
 }

 .verPersonajes button {
  background: green;
  color: #ccc;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
 }
 

  /**************FOOTER****************/

  footer{
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    background: #010543;
    height: auto;
    width: 100vw;
    padding:10px;
    color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
 }
