* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body{
   background-image: url("img_fondo/fondo_3.jpeg");
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   font-family:sans-serif;
}

.container {
   display: grid;
   grid-template-areas:
     "header"
     "personajes"
     "footer";
   grid-template-rows: auto 1fr auto;
   min-height: 100%;
   width: 100%;
 }

 /*********HEADER***********/

 .header {
  grid-area: header;
  /*background: rgb(129, 213, 97);*/
 }

 .logo {
  display: flex;
  justify-content: center;
 }
 .logo img{

  min-height: 150px;
  max-height: 150px;

  
 }

 nav {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5%;

}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 8px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in;/* Hace un efecto en el hover*/
}

nav ul li a {
  color: green;
  font-size: 18px;
  font-weight: 500px;
  text-decoration: none;
}

nav ul li a:link, a:visited {
  background-color: rgb(172, 232, 52);
  border: 2px solid green;
  border-radius: 10px ;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav ul li a:hover, a:active {
  background-color: #97ce4c;
  color: #3F51B5;
}

nav ul :hover {
  color: greenyellow;
}



h4 {
  color: aliceblue;
}



/******** CARD CONTAINER **********/
.characters{
  grid-area:personajes ;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  display: grid;
  width: 300px;
  grid-template-areas:
  "imagen"
  "contenido";
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  text-overflow: ellipsis;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card_imagen {
  grid-area: imagen;
}

.card_imagen img{
  max-width:100%;
  height: auto;
  border-radius: 5px 0px;
  max-height: 200px;
}

.card_contenido {
  grid-area: contenido;
  color: yellowgreen;
  font-family: 'Fira Code', monospace;
  height: 75px;
}

.card_contenido h3 {
color:black;
font-weight: 600;
}

.card_contenido h4 {
  color: yellowgreen;
  font-weight: 600;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
  

 .verPersonajes {
  display: flex;
  justify-content: center;
  padding: 10px;
 }


 .verPersonajes button {
  color:green;
  background-color: rgb(172, 232, 52);
  border: 2px solid green;
  border-radius: 10px ;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
 }
 

  /**************FOOTER****************/

  footer{
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    background: #009688;
    height: auto;
    width: 100vw;
    padding:10px;
    color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
 }
